body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f6f7fb;
  width: 100%;
  height: 100%;
}
header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0 140px;
  height: 50px;
  justify-content: space-between; /*ở giữa cách đều*/
  background-color: #f6f7fb;
  z-index: 999;
}
main {
  margin: 0 140px 80px 140px;
}
footer {
  display: flex;
  gap: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  font-size: 20px;
  padding: 10px 0;
  justify-content: center;
  color: #71737e;
}

h1 {
  font-size: 20px;
  margin: 0;
  color: #212633;
}
h2 {
  font-size: 18px;
  margin: 20px 0 0 20px;
  color: #212633;
}
h3 {
  font-size: 20px;
  margin: 10px 0;
}
.icons {
  display: flex;
  gap: 10px;
  font-size: 20px;
  text-align: right;
}
.banner {
  width: 1200px;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
}
.item {
  flex: 0 0 auto; /* không co giãn*/
  margin-right: 20px;
  width: 590px;
  height: 150px;
  background-color: #fff;
  border-radius: 30px;
  text-align: left;
}
.item .content {
  display: flex; /* thẻ p và img đều nằm ngang nhau*/
  margin: 0;
}
.item .content p {
  flex: 8;
  font-size: 13px;
  margin: 5px 20px;
  width: 80%;
  height: 100%;
  color: #525b73;
}
.item .content img {
  flex: 2;
  margin: -30px 10px;
  width: 20%;
  height: 100%;
}
.learn-more {
  display: flex;
  color: #1a7dd8;
  gap: 5px;
  margin-left: 20px;
  font-size: 13px;
}
.best-sellers {
  display: flex;
  width: 100%;
}
.best-sellers-list-add {
  position: relative;
}
.best-sellers img {
  background-color: #fff;
  margin: 10px 20px 0 0;
  width: 170px;
  height: 170px;
  border-radius: 20px;
}
.add-cart {
  position: absolute;
  bottom: 10px;
  right: 30px;
  background-color: #1a7dd8;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.best-sellers-names {
  font-size: 16px;
  margin: 0 0 0 10px;
}
.best-sellers-names-e {
  font-size: 13px;
  margin: 0 0 25px 10px;
}
.products-list-header {
  display: flex;
  margin: 10px;
  gap: 30px; /* khoảng cách giữa các div*/
  border-radius: 50px;
}
button {
  display: flex;
  background-color: #f6f7fb;
  border: none;
  font-size: 15px;
  color: #83a1a7;
}
.products {
  display: flex;
  flex-wrap: wrap;
}
.products-list img {
  width: 390px;
  height: 420px;
  background-color: #fff;
  border-radius: 20px;
  margin: 20px 20px 0 0;
}
